<div class="container">
    <div class="row">
        <form ng-submit="enter()">
        <div class="col-sm-8">
            <label>Enter User Name</label>
                <div class="input-group">
                        <input type="text" class="form-control name" placeholder="Enter Name" ng-model="entry.userName">
                                <div class="input-group-btn">
                                  <button class="btn btn-success" type="submit">
                                    <i class="glyphicon glyphicon-play"></i>
                                  </button>
                                </div>
                 </div>
        </div>
    </form>
    </div>
</div>


 